services:

  back-end:
    build: 
      context: ./back-end
      dockerfile: Dockerfile
      target: prod
    env_file:
      - .env
    ports:
      - "8080:8080"

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
      target: prod
    ports:
      - "80:80"

  database:
    image: postgres:17.2
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ${PWD}/db-data/:/var/lib/postgresql/data/

